* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}

a:hover {
    background-color: #2a2929c5;
}

.project-link {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

.project-link>a {
    display: inline-block;
    min-width: 225px;
    text-align: center;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-flow: wrap column;
    min-height: 100vh;
    color: white;
    font-size: 1.2rem;
    background-color: #3d3e51;
}



header {
    display: flex;
    flex: 0 0 5rem;
    flex-flow: nowrap row;
    align-items: center;
    background-color: #212129;
    justify-content: start;
    gap: 5rem;
    padding-left: 3rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    z-index: 1;
}

/* box-shadow: offset-x offset-y blur-radius spread-radius color;*/
main {
    flex: 2;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

}

section {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 2rem;
    gap: 2rem;
    width: 50vw;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    background-color: #212129;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

footer {
    display: flex;
    flex-flow: nowrap row;
    flex: 1 5rem;
    background-color: #212129;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    box-shadow: 0 -0.5rem 0.3rem rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-top: 1rem;

}

.footer-nav {
    padding: 2rem;
}

.footer-nav-list {
    display: flex;
    flex-flow: nowrap row;
    flex: 1;
    column-gap: 2rem;
}

.form-contact {
    display: flex;
    flex-flow: nowrap column;
    gap: 2rem;
    padding: 1rem;
    width: 70%;
    align-items: center;
}

.form-group {
    display: flex;
    flex-flow: nowrap row;

}

.form-group>label {
    display: inline-block;
    width: 17rem;
}

.form-group>input {
    width: 15rem;
    height: auto;
}

input {
    height: 1.5rem;
    width: 70%;
}

button {
    cursor: pointer;
    margin-top: 2rem;
    width: 25%;
    height: 3rem;
}